construct==2.10.70
gevent==24.11.1
greenlet==3.1.1
h11==0.14.0
#numpy==2.0.2
pi==0.1.2
pyserial==3.5
python-dotenv==1.0.1
#simple-websocket==1.1.0
#thorpy==2.1.10
#websocket==0.2.1
#websocket-client==1.8.0
websockets==14.1
wsproto==1.2.0
zope.event==5.0
zope.interface==7.2
