[Unit]
Description=A script for video streamer
Requires=uart2crsf.service
After=syslog.target network.target
After=network.target

[Service]
WorkingDirectory=/opt/streamer
ExecStart=/opt/streamer/mediamtx
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
